<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Folleto Promocional - Plantilla 2</title>
</head>
<body>
  <div class="contenedor">
     
      <header class="encabezado">
        <img src="{{LOGO_CENTRO}}" class="logo-principal" alt="Logo Principal">
      </header>

   <main class="productos">
      <!-- AQUI_PRODUCTOS -->
    </main>

    <footer class="pie">
      <div class="direccion">
        <p>120 S. Orchard Ave. Vacaville, CA 95888</p>
        <p>(707) 359-5400</p>
      </div>
      <div class="pagos">
        <img src="{{ria}}" alt="RIA">
        <img src="{{visa}}" alt="VISA">
        <img src="{{money}}" alt="MoneyGram">
      </div>
      <div class="vigencia">
        Prices Effective<br>
        June 19 - June 25, 2024
      </div>
    </footer>
  </div>
</body>
</html>
