<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Folleto Promocional</title>
  
</head>
<body>

  <div class="container">
    <div class="encabezado">
      <div class="fila-encabezado">
        <div class="logo-fijo-izquierda">
          <img src="{{LOGO_CENTRO}}" alt="LogoCentro" class="logo-centro">
        </div>
        <div class="producto-derecha">
            {{PRODUCTO_DESTACADO}}
        </div>
        
      </div>
    </div>

  

    <div class="contenedor-todas-categorias">
      <!-- AQUI_PRODUCTOS -->
    </div>

  
    <div class="footer-folleto">
          <div class="cuadro-direccion">
            <div class="direccion">{{DIRECCION}}</div>
            <div class="telefono">{{TELEFONO}}</div>
          </div>
          <img class="footer-map" src="{{MAPA_TIENDA}}" alt="Mapa sucursal">

          <div class="footer-derecha">
            <div class="fecha-folleto">
              <div class="validez-texto">Precios válidos</div>
                <div class="fecha-validez">
                  {{FECHA_VALIDEZ}}
                <div class="fecha-en">
                  {{FECHA_VALIDEZ_EN}}
                </div>
              </div>
            </div>
            <!-- En tu plantilla HTML -->
            <div class="metodos-pago">
              <!-- Aquí van los logos -->
              {{METODOS_PAGO}}
            </div>

        
          </div>
    </div>

</div>


</body>
</html>
