<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Folleto Promocional</title>
  
</head>
<body>

  <div class="container">
  <div class="encabezado">
  <div class="fila-encabezado">
    <div class="logos-izquierda">
      <img src="{{LOGO_CENTRO}}" alt="LogoCentro" class="logo-centro">
      <img src="{{LOGOIZQ}}" alt="LogoIzq" class="logo-izq">
      
    </div>
    
  </div>
</div>

  

  <div class="contenedor-todas-categorias">
    <!-- AQUI_PRODUCTOS -->
  </div>

  
  <div class="footer-folleto">
  <div class="cuadro-direccion">
    <div class="direccion">340 W Grant Line, Tracy, CA</div>
    <div class="telefono">(209) 123-4567</div>
  </div>

  <div class="footer-derecha">
    <div class="fecha-folleto">
      <div class="validez-texto">Precios válidos</div>
      <div class="fecha-validez">
        {{FECHA_VALIDEZ}}
      </div>
    </div>
    <!-- En tu plantilla HTML -->
    <div class="metodos-pago">
      <!-- Aquí van los logos -->
      {{METODOS_PAGO}}
    </div>

   
  </div>
</div>

</div>


</body>
</html>
